{% extends 'base.html.twig' %}

{% block title %}
   Bonjour les Inventeurs d'Idées
{% endblock %}

{% block header %}
    <h2>Un petit titre dans le header</h2>
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue Sur SynBnB!</h1>
        <p class="lead">Nous faisons des innovations et inventivités</p>
        <hr class="my-4">
        <p>Vous avez des idées ? Venez construire avec nous !!!</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir</a>
        </p>
    </div>
    <h2 class="h1 my-5">Nos inventions Stars</h2>
    <div class="row">
         {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad':data.projet} %}
         {% endfor %}   
    </div>
    <h2 class="h1 my-5">Nos inventeurs Stars !!</h2>
   
    <div class="row">
        {% for data in users %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{data.user.fullName}}</h4>
                    <hr>
                    <div class="card-text">
                        <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}"
                        class="avatar float-left mr-3">
                        <p>{{data.user.introduction}}</p>
                        <a href="{{ path('user_show',{'slug':data.user.slug})}}" class="btn btn-success float-right">En savoir plus ></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
