{% extends 'base.html.twig' %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block title %}
    Edition d'une invention
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'invention : {{ad.title}}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier l'invention !</button>

        {{ form_end(form) }}
    </div>

{% endblock %}



{% block javascripts %}
<script src="{{ asset('build/js/ad.js')}}"></script>
   {# {{ encore_entry_script_tags('js/ad') }} #}
{% endblock %}